<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../templates/head %>
</head>
<%- include ../templates/wrap %>
<body>
    <header>
    <%- include ../partials/navbar.ejs %>
    </header>
        <%- include ../partials/cykle_kategori %>
        <!--<%- include ../templates/footer %>-->
    </body>

</html>