<!DOCTYPE html>
<html lang="en">
<head>
<%- include ../templates/head %>
</head>

<%- include ../templates/wrap %>
<body>
<header>

<%- include ../partials/navbar %>
</header>

    <%- include ../partials/forside %>
    <%- include ../templates/footer %>
</body>
</html>